<div style=" background: aqua; margin-bottom: 16px;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['template-form']" aria-current="page" href="#">Template Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['reactive-form']" href="#">Reactive form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['pipe']" aria-current="page" href="#">Pipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['communication']" href="#">Communication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['http']" href="#">http git list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['people-api']" href="#">rest apis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['observable']" href="#">Observable</a>
        </li>
    </ul>
</div>
<router-outlet>
